html, 
body, 
#root {
    height: 100vh;
}

body {
    margin: 0;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    font-size: 2rem;
}

.adm-error-block-full-page {
    padding-top: calc(50vh - 300px) !important;

    .adm-error-block-description-title {
        font-weight: 600;
    }
}