.adm-swiper {
    height: 58%;

    .adm-auto-center {
        margin: 0.75rem 0;
    }

    .artist-name {
        font-weight: bold;
        font-size: 1rem;
    }

    .artist-title, 
    .artist-name {
        text-align: center;
        padding: 0 1rem;
    }

    .artist-date {
        font-style: italic;
    }
}

.landing-load {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    font-size: 2rem;
}