.adm-nav-bar {
    background-color: #001529;

    .adm-nav-bar-title {
        font-weight: bold;
        color: #fff;
    }
}

.adm-tab-bar {
    position: sticky;
    width: 100%;
    bottom: 0;
    background-color: #eee;
}

.adm-tab-bar-wrap {
    height: 55px !important;
}