.adm-nav-bar {
    background-color: #001529;

    .adm-nav-bar-title {
        font-weight: bold;
        color: #fff;
    }
}

.adm-tab-bar {
    background-color: #eee;
}

.adm-tab-bar-wrap {
    min-height: 55px !important;
}